.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 576px) {
  .fs-1 {
    font-size: 1.5rem !important;
  }
  .fs-2 {
    font-size: 1.25rem !important;
  }
  .pb-5 {
    padding-bottom: 1rem !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.app-container {
  display: flex;
}

.side-nav {
  width: 13%; /* Állítsd be a kívánt szélességet */
  transition: width 0.3s;
}

.main-content {
  flex: 1;
  padding: 1rem;
}
.app-container {
  display: flex;
}

.side-navigation {
  width: 13%;
  transition: width 0.3s;
  border-right: 1px solid #dee2e6;
}

.side-navigation.collapsed {
  width: 3%;
}

.content-area {
  flex-grow: 1;
  transition: margin-left 0.3s;
}

.content-area.with-nav {
  margin-left: 13%;
}

.content-area.no-nav {
  margin-left: 3%;
}

.no-blur-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: none !important;
}

.custom-modal-content {
  background-color: #fff;
}
